header{
    background-image: url(../img/header.png);
    height:auto;
    background-size: cover;
}
.row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}
.company_name_top{
    font-size: 13px;
    font-weight: 600;
    margin-top: 20px;
}
.top_menu{
    padding: 10px 30px;
}
.menu{
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu li{
    
    float: left;
    padding: 20px 0px;
    font-size: 11px;
    font-weight: 600;
}
.menu li.home{
    font-weight: 800;
}
.user_name{
    background-image: url(../img/user_mane.png);
    width: auto;
    background-size: cover;
    height: 53px;
    padding: 18px 20px!important;
    color: #fff;
    font-weight: 400!important;
    font-size: 13px!important;
}
.user_name span img{
    height: 20px;
    margin-left: 20px;
}
.search span img{
    width: 50px;
}
.mt-30{
    margin-top: 30px;
}
.pl-30{
    padding-left: 45px!important;
}
.comp_name{
    font-size: 30px;
    font-weight: 600;
}
.active_project{
    color:gray;
    font-size: 25px;
    font-weight: 100;
    
}
.image_header img{
   max-height: 620px;
    margin-top: 102px;
    margin-left: 144px;
}
.container_home{
    background-image: url(../img/container.png);
    min-height: 1100px;
    background-size: cover;
    padding: 0 100px!important;
}
.all_projects{
    font-size: 25px;
    font-weight: 600;
    margin:200px 0 0 0px;
}
.prodject{
    height: 350px;
    border:1px solid #fff;
    padding-left: 0px!important;
    padding-right: 0!important;
    margin: 0 0px;
    max-width: 330px;
    margin: 20px 80px;
    background-color: #fff;
}

.prodject img{
    height: 150px;
    width: 100%
}
.pl-20{
    padding-left: 20px;
}
.mt-20{
    margin-top: 20px;
}
.prodject p{
    font-size: 11px;
}
.prodject div{
    font-size: 12px;
    margin-bottom: 10px;
}
.prodject div span{
    color:gray;
}

.prodject div span.pull-right{
    margin-right: 20px;
}
#carousel-0 .product-carousel .product-block {
    margin: 50px 15px;
}
.product-carousel .slider-item {
    float: left;
}
.banners-slider-carousel .customNavigation a.prev {
    left: 0px;
    top: 100px;
    z-index: 999;
    cursor: pointer;
    color: #201c18;
}
.banners-slider-carousel .customNavigation a {
    height: 34px;
    width: 34px;
}
.customNavigation a.prev {
    right: 35px;
}
.banners-slider-carousel .customNavigation a.next {
    right: 0px;
    top: 100px;
    cursor: pointer;
    z-index: 999;
    color: #201c18;
    left: auto;
}
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 0 30px 0;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
.container{
    width: 80%!important;
    min-width: 1170px;
}
footer{
    background-image: url(../img/Rectangle9.png);
    background-size: cover;
    min-height: 410px;
    padding-top: 150px;
}
.text-white{
    color:#fff;
}
ul.text-white li:hover{
    color:#000;
}
ul.text-white li{
    margin: 20px 0;
}
ul.text-white{
    list-style: none;
}
.author_vede{
    color: #c1c8ff;
    text-decoration:underline; 
}
.thumbnail, .thumbnail:hover{
    border:0px!important;
}